/*
-----------------------------------------------------
    SASS Elements
  ---------------------------------------------------   
    Modified to work on SCSS
    Carlos Fco. García
    @chopan
    More info at: http://sass-lang.com/

-----------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/

@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
  background: $color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, $start),
                               color-stop(1, $stop));
  background: -ms-linear-gradient(bottom,
                                  $start,
                                  $stop);
  background: -moz-linear-gradient(center bottom,
                                   $start 0%,
                                   $stop 100%);
}
@mixin bw-gradient($color: #F5F5F5, $start: 0, $stop: 255) {
  background: $color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb($start,$start,$start)),
                               color-stop(1, rgb($stop,$stop,$stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb($start,$start,$start) 0%,
                                  rgb($start,$start,$start) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb($start,$start,$start) 0%,
                                   rgb($stop,$stop,$stop) 100%);
}
@mixin bordered($top-color: #EEE, $right-color: #EEE, $bottom-color: #EEE, $left-color: #EEE) {
  border-top: solid 1px $top-color;
  border-left: solid 1px $left-color;
  border-right: solid 1px $right-color;
  border-bottom: solid 1px $bottom-color;
}
@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
  @include vendorize(box-shadow, $x-axis $y-axis $blur rgba(0, 0, 0, $alpha));
}
@mixin rounded($radius: 2px) {
  @include vendorize(border-radius, $radius);
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
  @include vendorize(border-top-right-radius, $topright);
  @include vendorize(border-bottom-right-radius, $bottomright);
  @include vendorize(border-bottom-left-radius, $bottomleft);
  @include vendorize(border-top-left-radius, $topleft);
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
}
@mixin opacity($opacity: 0.5) {
  @include vendorize(opacity, $opacity);
}
@mixin transition-duration($duration: 0.2s) {
  @include vendorize(transition-duration, $duration);
}
@mixin rotation($deg: 5deg){
  @include vendorize(transform, rotate($deg));
}
@mixin scale($ratio: 1.5){
  @include vendorize(transform, scale($ratio));
}
@mixin transition($duration:0.2s, $ease:ease-out) {
  @include vendorize(transition, all $duration $ease);
}
@mixin inner-shadow($horizontal:0, $vertical:1px, $blur:2px, $alpha: 0.4) {
  @include vendorize(box-shadow, inset $horizontal $vertical $blur rgba(0, 0, 0, $alpha));
}
@mixin box-shadow($arguments) {
  @include vendorize(box-shadow, $arguments);
}
@mixin columns($colwidth: 250px, $colcount: 0, $colgap: 50px, $columnRuleColor: #EEE, $columnRuleStyle: solid, $columnRuleWidth: 1px) {
  @include vendorize(column-width, $colwidth);
  @include vendorize(column-count, $colcount);
  @include vendorize(column-gap, $colgap);
  @include vendorize(column-rule-color, $columnRuleColor);
  @include vendorize(column-rule-style, $columnRuleStyle);
  @include vendorize(column-rule-width, $columnRuleWidth);
}
@mixin translate($x:0, $y:0) {
  @include vendorize(transform, translate($x:0, $y:0));
}
@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}
